body {
    font-family: Verdana, Tahoma, sans-serif;
    background: #ddd;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
    padding: 20px 15px;
    margin: 15px 0px;
    width: 100%;
}

    .legend {
        font-weight: bold;
        font-size: 1.1rem;
    }

.title {
    display: flex;
    justify-content: center;
}

.reg_form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.sub_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.votos {
    font-weight: bold;
    font-size: 1.1rem;
}

.total_div {
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#saveVote-btn {
    -moz-box-shadow:    inset 0px 1px 0px 0px #4d73bf;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4d73bf;
    box-shadow:         inset 0px 1px 0px 0px #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    text-shadow: 0 1px 0px #3359a5;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
}

    #regVoto-el:hover {
        background: #2b54a7;
    }

    #regVoto-el:active {
        background: #1d4698;
        border-color: #1d4698;
    }

/* CHECKBOXES */

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  margin-bottom: 0.5rem;
}